################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CAFEPYC/FileContentIndex/11a6072a-826f-41b3-80fb-3fbea4107836.vsidx
/.vs/CAFEPYC/FileContentIndex/715a2ba7-9eb0-4184-8c41-35557a552605.vsidx
/.vs/CAFEPYC/FileContentIndex/22c9e348-6762-4858-ad5a-2ad23cc2db92.vsidx
/.vs/CAFEPYC/FileContentIndex
